.darbibaszime{
    color: #222222;
    font-size: 1rem;
    display: block;
    height: 1.2rem;
    text-align:right;
    padding:0 10px;
}

.divskaitlis{
    color: #222222;
    font-size: 1rem;
    display: block;
    height: 1.2rem;
    text-align:right;
    padding:0 10px;
}

  #konteiners{
    max-width: 360px;
    background-color: #94a5f7;
    border-radius: 20px;
    padding: 4px;


  }
  #keyboard, #numbers, #functions{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 4px;
    font-family:"Tahoma";
  
  }
  
  .poga {
    background-color: #9879d9;
  color:black;
  padding:20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor:pointer;
  font-weight: bold;
  
  }
  div {
    max-width: 100%;
  }
  
  .rezultats {
    box-sizing: border-box;
    width:100%;
    height: 60px;
    border: none;
    font-size:30px;
    outline:none;
    text-align:right;
    padding:0 10px;
  }
  .rezultats {
    grid-column:1/-1;
  }
  
  .dzest{
    grid-column:1/3;
    background-color:#8065ba;
  }
  
  /* .dzest{
    grid-column:3/-1;
    background-color:#8065ba;
  } */
  .vienads{
    grid-column:2/5;
    background-color:#8065ba;
  }
  