{% extends "index.html" %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='img/favico.ico') }}" type="image/x-icon"/>
    <title>
      Atmiņas Spēle
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atminasspele.css') }}">
    <script src="{{ url_for('static', filename='js/atminasspele.js') }}"></script>
    <script type="text/javascript" charset="UTF-8">
        window.onload = () => {
          const s = new AtminasSpele("konteiners");
        }
    </script>
  </head>
  <body>
    <h1>Atmiņas spēle</h1>
        <!-- spēles vieta -->
    <div id="konteiners"></div>

  </body>
</html>
{% endblock %}