{% extends "index.html" %}

{% block content %}
  <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/galerija.css') }}">
</head>

<body>

<div class="gallery" align="center">
	<h1>Veidotāji</h1>
	<div class="thumbnails">
		<img onmouseover="preview.src=img1.src" name="img1" src="/static/img/img1.jpg" alt=""/>
		<img onmouseover="preview.src=img2.src" name="img2" src="/static/img/img2.jpg" alt=""/>
		<img onmouseover="preview.src=img3.src" name="img3" src="/static/img/img3.jpg" alt=""/>
		<img onmouseover="preview.src=img4.src" name="img4" src="/static/img/img4.jpg" alt=""/>
		<img onmouseover="preview.src=img5.src" name="img5" src="/static/img/img5.jpg" alt=""/>
	</div><br/>

	<div class="preview" align="center">
		<img name="preview" src="images/img1.jpg" alt=""/>
	</div>

</div>
</div>
</body>
</html>
{% endblock %}